@import "./variables.scss";
#hero-section {
  padding-top: 80px;
  margin: 0 auto;
  overflow: hidden;

  height: 748px;
  display: flex;
  position: relative;

  .welcome-to {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(88, 53, 60, 0) 0%, #58353c 100%);
  }
  .title:first-child {
  }
  .title {
    line-height: 1;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
  }
  .title-big {
    font-size: 32px;
    padding-bottom: 12px;
  }
  .timer {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    place-content: center;
  }

  .timer-digits {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding-bottom: 4px;
  }
  .timer-date {
    font-size: 8px;
    font-weight: 400;
    color: white;
    line-height: 1;
    @media (min-width: 1024px) {
      font-size: 10px;
    }
  }
  .splash-team {
    position: absolute;
    width: 110%;
    max-width: unset;
    top: 50%;
    left: 50%;
    transform: translateX(-60%) translateY(-50%);
  }
  @media (min-width: 1024px) {
    align-items: center;
    padding-top: 40px;
    max-height: 758px;

    .splash {
      flex-direction: row;
    }

    .welcome-to {
      justify-content: center;
    }

    .title {
      text-align: left;
      font-size: 50px;
    }
    .title-big {
      font-size: 50px;
    }
    .timer {
      width: 344px;
    }
    .timer-digits {
      font-size: 24px;
    }
  }

  @media (min-width: 1280px) {
    align-items: center;

    max-height: 857px;
    .welcome-to {
      max-width: 579px;
    }
    .title {
      font-size: 80px;
    }
    .title-big {
      font-size: 80px;
    }
    .timer-digits {
      font-size: 34px;
    }
    .timer-date {
      font-size: 10px;
    }
  }
}
